.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.likes{
  padding: 0px 15px 10px 15px;
}
.App-link {
  color: #61dafb;
}

body{
  background: rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;
  font-size: 15px;

}
.iamge
{
  height: 25px;
  width: 25px;
}
.headers{
  width: 100%;
  display: flex;
  flex-direction: column;
 
  
}
.wrapper {
  width: 100%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 30px;
  overflow-x: hidden;
}

.left-col {
  display: flex;
  flex-direction: column;
}

.status-wrapper {
  width: 100%;
  height: 120px;
  background: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  padding: 10px;
  padding-right: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  overflow-x: auto;
}

.status-wrapper::-webkit-scrollbar {
  display: none;
}

.status-card {
  flex: 0 0 auto;
  width: 80px;
  max-width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}

.profile-pic {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  padding: 3px;
  background: linear-gradient(45deg, rgb(255, 166, 0), rgb(255, 0, 0) 80%);
}

.acer{
background-color: #000000;
}
.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}

.borderimage{

  margin: 30px;
  overflow-x: hidden;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.img{
height: 100%;
width: 100%;
}

.icons{
  position: absolute;
  height: 50px;
  width: 50px;
  right: 0px;
  top: 0px;

}
.appdiv{
  position: absolute;
  width: 100%;
 
}

a{
  color:black;
  text-decoration:none;
  font-weight:bold;
}

.timer
{
  font-family: 'Reem Kufi Ink', sans-serif;
  color: orange;
  background-color: black;
  font-size: 25px;
  
}

.instagram-card{
  background:white;
  width: 100%;
  max-width:100%;
  margin: 0 auto;
  overflow-x: hidden;
}

.header{
  padding:5px;
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.user{
  display:flex;
  align-items: center;
}

.avatar{
  border-radius:50%;
  width:50px;
  height:50px;
  margin-right:16px;
  /* border: 4px solid ; */
  padding: 2px;
  background:linear-gradient(to bottom right,rgb(231, 209, 9),orange);

}

.actions{
  display:flex;
  justify-content:space-between;
 padding: 15px;
}
.sp{
  margin-left: 5px;
  margin-right: 5px;
}

.action-icon{
  font-size:18px;  
}

.icon-left{
  margin-right:10px;
}
.conts{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
   
  
}

.n1
{
  height: 70px;
  width: 70px;

}


.secondary-a{
  font-weight: normal;
  color: #8e8e8e;
}

.description{
  padding: 0px 15px 15px 15px;
}

.date{
  margin-left: 5px;
  text-transform: uppercase;
  font-weight: normal;
  color: #000000;
  font-size: 10px;
}
.divisor{
  height: 1px;
  
  border: none;  
}
.footer{
  display: flex;
  justify-content: space-between;
  padding: 0px 0px 0px 15px;
}

.card-input{
  width: 85%;
  border: none;
  outline: none;  
}

.post{
  color: #C6DFFA;
  font-weight: bold;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
